
<div class="container-fluid">
<article class="module width_3_quarter">
	<header class="header" >
        <h1 style="padding-left:20px">Admin Panel Created By Hassan</h1>
	</header>
		<ul>
			<li>You can easily familiarize your self by this Panel which has all its related functionalities in side bar</li>
			<li>Mostly rights are given to master Admin </li>
			<li>So, If you see something is not working then you dont have rights to do that</li>
		</ul>
</article>
</div>